In [9]:
import pandas as pd

# dataframe

data = {
    "Nome": ["Pedro", "Maria", "João", "Ana", "Thiago"],
    "Idade": [22, 15, 33, 19, 28],
    "Cargo": ["Dev", "Gerente", "Ceo", "Dev", "Diretor"],
    "Salario": [3800, 5200, 12000, 3800, 10000],
}

df = pd.DataFrame(data)

print(df)

     Nome  Idade    Cargo  Salario
0   Pedro     22      Dev     3800
1   Maria     15  Gerente     5200
2    João     33      Ceo    12000
3     Ana     19      Dev     3800
4  Thiago     28  Diretor    10000

In [ ]:
import pandas as pd

# métodos e atributos

# max - 

print(df["valores"].max())

# idxmax - 

print(df["valores"].idmax())

# head

print(df.head(2))

# tail - faz a mesma coisa que o head, mas pega as infomações de baixo para cima

print(df.tail(2))

# info

df.info()

# dtypes

print(df.dtypes)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3328031973.py, line 110)

In [ ]:
import pandas as pd
# explode

dataFrame = pd.DataFrame({"Listas": [[1,2],[3,4],[5,6]]})

print(dataFrame.explode("Listas"))

In [ ]:
import pandas as pd
# mode

df = pd.DataFrame({"Valores": [1,2,2,3,3,4,2,5,9,7,2]})

print(df["Valores"].mode())

In [ ]:
import pandas as pd
# describe

df2 = pd.DataFrame({"Listas": [[1,2],[3,4],[5,6]]})

df2.describe()

In [ ]:
import pandas as pd
# groupby

df3 = pd.DataFrame({"Categoria": ["A", "A", "B", "B"], "Valor":[10,20,30,40]})

display(df3.groupby("Categoria").mean()) # display tranforma as informações em formato tabela
print(df3.groupby("Categoria").mean())

In [ ]:
import pandas as pd
# shape

df3 = pd.DataFrame({"Categoria": ["A", "A", "B", "B"], "Valor":[10,20,30,40]})

display(df3)
display(df3.shape)

In [ ]:
import pandas as pd
# value_counts

df3 = pd.DataFrame({"Categoria": ["A", "A", "B", "B"]})

print(df3["Categoria"].value_counts())

In [ ]:
import pandas as pd
# agg

df4 = pd.DataFrame({"Valores": [1,2,2,3,3,4,2,5,9,7,2]})

display(df4.agg(["mean", "sum"]))

In [ ]:
import pandas as pd
# min

df4 = pd.DataFrame({"Valores": [1, 2, 2, 3, 3, 4, 2, 5, 9, 7, 2]})

print(df4["Valores"].min())
print(df4["Valores"].idxmin())
print(df4["Valores"].idxmax())

In [ ]:
import pandas as pd
# merge

dataFrame1 = pd.DataFrame({"ID": [1, 2, 3], "Nome": ["Ana", "João", "Maria"]})
dataFrame2 = pd.DataFrame({"ID": [1, 2, 3], "Idade": [19, 33, 22]})

display(pd.merge(dataFrame1, dataFrame2, on="ID"))

In [ ]:
import pandas as pd
# drop - elimina colunas

print(df.drop(colums=["valor"]))

In [ ]:
import pandas as pd
# loc - digo o nome da coluna desejada

df3 = pd.DataFrame({"Categoria": ["A", "A", "B", "B"], "Valores": [1, 2, 3, 4]})

print(df3.loc[df3["Categoria"] == "A"])

In [ ]:
import pandas as pd
# iloc - trabalha com a posição

df3 = pd.DataFrame({"Categoria": ["A", "A", "B", "B"], "Valores": [1, 2, 3, 4]})

print(df3.iloc[2])

In [ ]:
import pandas as pd
# orient

# pd.DataFrame(orient=index)

In [ ]:
import pandas as pd
# decimal

# df = pd.read_csv|("dados.csv", decimal=",")

In [ ]:
import pandas as pd
# unique

df3 = pd.DataFrame({"Categoria": ["A", "A", "B", "B"], "Valores": [1, 2, 3, 4]})

print(df3["Categorias"].unique())

In [ ]:
import pandas as pd
# apply

dados_dict = {
    "nome": ["Ana", "Bruno", "Calos", "Daniel", "Eduardo"],
    "idade": [19, 15, 22, 39,15]
}

In [ ]:
import pandas as pd
# dataF = pd.DataFrame(dados_dict)

def classificar_idade(idade):
    return "Maior de idade" if idade >= 18 else "Menor de idade"

dataF["Categoria"] = dataF["idade"].apply(classificar_idade)

display(dataF)

In [ ]:
import pandas as pd
# mean

dados_dict = {
    "aluno": ["Ana", "Bruno", "Calos", "Daniel", "Eduardo"],
    "nota": [8.5, 7.5, 5, 9, 7.5]
}

dataF = pd.DataFrame(dados_dict)

print(dataF["nota"].mean())

In [ ]:
import pandas as pd
# sort_values - coordenação dos valores

dados_dict = {
    "aluno": ["Ana", "Bruno", "Calos", "Daniel", "Eduardo"],
    "nota": [8.5, 7.5, 5, 9, 7.5]
}

dataF = pd.DataFrame(dados_dict)

print(dataF.sort_values(by="nota", ascending=True))

In [ ]:
import pandas as pd

vendas_df = pd.read_csv("Vendas.csv", sep=";")

# print(vendas_df)
# vendas_df.head(5)
# vendas_df["ID Produto"]
# vendas_df[:5]

vendas_df[["ID Loja", "ID Produto", "ID Cliente"]]

FileNotFoundError: [Errno 2] No such file or directory: 'Vendas.csv'

In [59]:
import pandas as pd

pedidos = pd.read_csv("Pedidos.csv")

pedidos[["Vendedor", "Item", "Unidades"]]

    Vendedor        Item  Unidades
0     Tobias   Geladeira        62
1      Nadia  Microondas        29
2     Carlos   Geladeira        55
3      Tania  Microondas        81
4      Pedro   Geladeira        42
5     Tobias       Fogao        35
6   Mauricio    Lavadora         3
7      Smith    Lavadora         2
8       Alan       Fogao         7
9     Tobias   Geladeira        16
10  Mauricio       Fogao        76
11    Carlos  Microondas        28
12    Thomas  Microondas        57
13    Tobias       Fogao        64
14    Raquel       Fogao        14
15     Tania       Fogao        15
16      Alex  Microondas        11
17     Pedro   Geladeira        96
18      Alex  Microondas        94
19     Smith       Fogao        67
20    Raquel  Microondas        28
21     Tania   Geladeira        74
22    Tobias       Fogao        95
23      Alan  Microondas        46
24     Pedro  Microondas        50
25     Smith  Microondas        87
26      Alex       Fogao        36
27    Tobias  Microondas         4
28      Alan       Fogao        27
29  Mauricio  Microondas         7
30  Mauricio       Fogao        56
31      Alex   Geladeira        50
32    Tobias  Microondas        60
33    Raquel       Fogao        66
34    Raquel       Fogao        75
35     Nadia       Fogao        96
36      Alex       Fogao        90
37      Alan       Fogao        53
38    Thomas       Fogao        32
39      Alan  Microondas        80
40    Tobias  Microondas        60
41     Pedro    Lavadora         5
42    Carlos       Fogao        90